@page "/localidades/create"
@inject IBGBlazor.Data.ApplicationDbContext DB
@using IBGBlazor.Models
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Authorization

@rendermode InteractiveServer
@attribute [Authorize]

<PageTitle>Create</PageTitle>

<h1>Nova Localidade</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Localidade" OnValidSubmit="AddLocalidade" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="state" class="form-label">Id:</label>
                <InputText id="id" @bind-Value="Localidade.Id" class="form-control" />
                <ValidationMessage For="() => Localidade.Id" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="state" class="form-label">Estado:</label>
                <InputText id="state" @bind-Value="Localidade.State" class="form-control" />
                <ValidationMessage For="() => Localidade.State" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="city" class="form-label">Cidade:</label>
                <InputText id="city" @bind-Value="Localidade.City" class="form-control" />
                <ValidationMessage For="() => Localidade.City" class="text-danger" />
            </div>
            <div>
                @if (!String.IsNullOrEmpty(errorMsg))
                {
                    <div class="alert alert-danger" role="alert">
                        @errorMsg
                    </div>
                }
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/localidades">Voltar</a>
</div>

@code {

    [SupplyParameterFromForm]
    public Localidade Localidade { get; set; } = new();

    private string? errorMsg = null;
    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task AddLocalidade()
    {
        //try
        //{
        DB.IBGE.Add(Localidade);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/localidades/");
        //}
        /*catch (Exception ex)
        {
        errorMsg = $"Erro ao persistir dados: {ex.ToString()}";
        }
        */
    }
}
