@page "/localidades/details"
@inject IBGBlazor.Data.ApplicationDbContext DB
@using IBGBlazor.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Authorization

@rendermode InteractiveServer
@attribute [Authorize]

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h4>Localidade</h4>
    <hr />
    @if (localidade is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">State</dt>
            <dd class="col-sm-10">@localidade.State</dd>
            <dt class="col-sm-2">City</dt>
            <dd class="col-sm-10">@localidade.City</dd>
        </dl>
        <div>
            <a href="@($"/localidades/edit?id={localidade.Id}")">Edit</a> |
            <a href="@($"/localidades")">Back to List</a>
        </div>
    }
</div>

@code {
    Localidade? localidade;

    [SupplyParameterFromQuery]
    public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        localidade = await DB.IBGE.FirstOrDefaultAsync(m => m.Id == Id);

        if (localidade is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
