@page "/localidades"
@inject ApplicationDbContext _context

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<h1>Localidades</h1>
<a href="localidades/create" class="btn btn-primary"><i class="oi oi-plus"></i>Nova</a>
<table class="table">
	<thead>
		<tr>
			<td>Id</td>
			<td>Estado</td>
			<td>Cidade</td>
		</tr>
	</thead>
	<tbody>
		@foreach(var localidade in _localidades)
		{
			<tr>
				<td>@localidade.Id</td>
				<td>@localidade.State</td>
				<td>@localidade.City</td>
				<td>
					<a href="/localidades/edit/@localidade.Id">EDIT</a>
					<a href="/localidades/delete/@localidade.Id">DELETE</a>
				</td>
			</tr>
		}
	</tbody>


</table>

@code {
	List<Localidade> _localidades = new();

	protected override async Task OnInitializedAsync()
	{
		_localidades = await _context.IBGE
						.AsNoTracking()
						.ToListAsync();

	}

}